<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.project.media_comment.mapper.homeMapper">
	<select id="listAllVideo" resultType="org.project.media_comment.domain.VideoVO">
		select video_id,video_code, video_title,video_hit,video_post_date
		from video
		order by video_post_date limit 16
	</select>
</mapper>
