<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.project.media_comment.mapper.replyMapper">

	<select id="listAllReply" resultType="org.project.media_comment.domain.ReplyVO">

		SELECT * FROM reply WHERE video_id=#{video_id};
	</select>

	<select id="listAllReplyLogin" resultType="org.project.media_comment.domain.ReplyVO">
		SELECT a.reply_id,a.reply_content,a.reply_flag,a.user_id,a.video_id,a.reply_playtime,a.reply_like_count,a.reply_dislike_count,a.reply_date,b.reply_vote_flag FROM media_comment.reply a LEFT JOIN reply_vote b ON a.user_id=b.user_id and a.reply_id=b.reply_id WHERE a.user_id=#{user_id} and a.video_id=#{video_id}
	</select>



	<insert id="insertReply">
		INSERT INTO reply(user_id,video_id,reply_playtime,reply_content) VALUES(#{user_id},#{video_id},#{reply_playtime},#{reply_content})
	</insert>

	<select id="selectReplyVote" resultType="Integer">
		SELECT reply_vote_flag FROM reply_vote WHERE user_id=#{user_id} AND reply_id=#{reply_id};
	</select>

	<insert id="voteReply">
		INSERT INTO reply_vote(user_id,reply_id,reply_vote_flag) VALUES(#{user_id},#{reply_id},#{reply_vote_flag})
	</insert>

	<update id="updateReplyVote">
		UPDATE reply_vote SET reply_vote_flag=#{reply_vote_flag}
	</update>

	<update id="updateReplyCount">
		UPDATE reply SET reply_like_count=reply_like_count+#{reply_like}, reply_dislike_count=reply_dislike_count+#{reply_dislike} WHERE reply_id=#{reply_id};
	</update>

	<select id="listPopularComment">
		SELECT * FROM reply WHERE video_id=#{video_id} ORDER BY reply_like_count-reply_dislike_count DESC;
	</select>
</mapper>
