<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.project.media_comment.mapper.replyMapper">

	<select id="listAllReply" resultType="org.project.media_comment.domain.ReplyVO">

		SELECT * FROM reply WHERE video_id=#{video_id} ;
	</select>

	<insert id="insertReply">
		INSERT INTO reply(user_id,video_id,reply_playtime,reply_content) VALUES(#{user_id},#{video_id},#{reply_playtime},#{reply_content})
	</insert>
</mapper>

x