<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.project.media_comment.mapper.videoMapper">

	<select id="getVideo" resultType="org.project.media_comment.domain.VideoVO">

		select video_id,video_title,user_id,video_post_date,video_code,video_hit,video_content,video_like_count,video_dislike_count from video where video_id=#{video_id}

	</select>
	<select id="getVideoLogin" resultType="org.project.media_comment.domain.VideoVO">
		SELECT a.video_id,a.video_title,a.video_post_date,a.video_code,a.video_hit,a.user_id,a.video_content,a.video_like_count,a.video_dislike_count,b.video_vote_flag FROM video a LEFT JOIN video_vote b ON a.user_id=b.user_id and a.video_id=b.video_id WHERE a.user_id=#{user_id} and a.video_id=#{video_id}
	</select>
	<select id="listAllVideo" resultType="org.project.media_comment.domain.VideoVO">

		select * from video;
	</select>

	<insert id="uploadVideo">
		INSERT INTO video(video_title,user_id,video_code,video_content) VALUES(#{video_title},#{user_id},#{video_code},#{video_content})
	</insert>

	<update id="increaseHit">
		UPDATE video SET video_hit=video_hit+1 WHERE video_id=#{video_id}
	</update>

	<select id="selectVideoVote" resultType="Integer">
		SELECT video_vote_flag FROM video_vote WHERE user_id=#{user_id} AND video_id=#{video_id};
	</select>

	<insert id="voteVideo">
		INSERT INTO video_vote(user_id,video_id,video_vote_flag) VALUES(#{user_id},#{video_id},#{video_vote_flag})
	</insert>

	<update id="updateVideoVote">
		UPDATE video_vote SET video_vote_flag=#{video_vote_flag}
	</update>

	<update id="updateVideoCount">
		UPDATE video SET video_like_count=video_like_count+#{video_like}, video_dislike_count=video_dislike_count+#{video_dislike} WHERE video_id=#{video_id};
	</update>

</mapper>
