<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.project.media_comment.mapper.videoMapper">
	
	<select id="getVideo">

		select * from video where video_id=#{video_id}

	</select>


	<!--#{ .. } 은 DAO에서 파라미터로 보낸 VideoVO의 클래스 변수들이다.-->
	<insert id="uploadVideo">
		INSERT INTO video(video_title,user_id,video_url,video_content) VALUES(#{video_title},#{user_id},#{video_url},#{video_content})
	</insert>
</mapper>
